#---------------------------------------------------------
# Templates configuration file
# Values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
#---------------------------------------------------------
# Since v 2.0 the project's variables can be used in file and folder name
#---------------------------------------------------------

#--- Maven
pom_persistence_jpa_dependencies.txt  ; pom_persistence_jpa_dependencies.txt ;   ; maven/pom_persistence_jpa_dependencies_txt.vm ; 1

#Service pattern
Persistence JPA service pattern ; PersistenceJpaServicePattern.java ; ${SRC}/${ROOT_PKG}/persistence/commons  ; pattern/PersistenceJpaServicePattern_java.vm ; 1
#--- JPA resources
persistence.properties     ; persistence.properties      ; ${RES}/META-INF         ; env/persistence_properties.vm   ; 1
persistence.xml            ; persistence.xml             ; ${RES}/META-INF         ; env/persistence_xml.vm          ; 1
persistence.properties     ; persistence.properties      ; ${TEST_RES}/META-INF    ; env-test/persistence_properties.vm   ; 1
persistence.xml            ; persistence.xml             ; ${TEST_RES}/META-INF    ; env-test/persistence_xml.vm          ; 1

# JPA record classes ( with composite key classes if any )
JPA record (without links) ; ${BEANNAME}JpaRecord.java       ; ${SRC}/${ROOT_PKG}/persistence/impl/jpa/record     ; record/XxxJpaRecord_java.vm      ; *
Mapper          		   ; ${BEANNAME}Mapper.java          ; ${SRC}/${ROOT_PKG}/persistence/impl/jpa/mapper     ; mapper/XxxMapper_java.vm         ; *
JPA repository             ; ${BEANNAME}Repository.java      ; ${SRC}/${ROOT_PKG}/persistence/impl/jpa/repository ; repository/XxxRepository_java.vm ; *
Service                    ; ${BEANNAME}Service.java         ; ${SRC}/${ROOT_PKG}/persistence/impl/jpa/service    ; service/XxxService_java.vm       ; *

# Tests JUnit
Test JUnit : JPA Entity service ; ${BEANNAME}PersistenceJpaTest.java ; ${TEST_SRC}/${ROOT_PKG}/persistence/impl/jpa         ; test/XxxPersistenceJpaTest_java.vm